.cell-calendar {
  min-height: 90px;
  padding: 8px;
  background-color: var(--card-color);
  cursor: pointer;
  gap: 10px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.cell-calendar-past {
  min-height: 90px;
  padding: 8px;
  background-color: var(--main-background-color);
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cell-calendar > div:first-child,
.cell-calendar-past > div:first-child {
  display: flex;
  justify-content: space-between;
}

.number-cell {
  font-size: 0.9rem;
  color: #cccccc;
}

.cell-calendar-past .number-cell {
  color: var(--border-card-color);
}

.number-cell.today {
  padding: 0px 3px;
  border-radius: 2px;
  background-color: #fd5b1b;
  font-weight: 500;
}

.cell-calendar > div:first-child > button,
.cell-calendar-past > div:first-child > button {
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  opacity: 0;

  transition: all 0.2s ease;
}

.cell-calendar > div:first-child > button > img,
.cell-calendar-past > div:first-child > button > img {
  width: 13px;
}

.cell-calendar:hover div:first-child button {
  opacity: 1;
}

.container-item-task-calendar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  min-width: 0;
}

.cell-calendar-past .container-item-task-calendar {
  display: none;
}

.container-item-task-calendar > div {
  background-color: rgba(0, 123, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
  min-width: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-item-task-calendar > div > div:first-child {
  background-color: rgba(0, 123, 255, 0.7);
  width: 8px;
  height: 8px;
  border-radius: 50px;
  flex-shrink: 0;
}

.container-item-task-calendar > div > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-width: 0;
}

.container-item-task-calendar > div > div:last-child > p {
  font-size: 0.85rem;
  font-weight: 500;
  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container-item-task-calendar > div > div:last-child > span {
  font-size: 0.75rem;
  font-family: nunito, sans-serif;
  font-weight: 300;
  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 510px) {
  .cell-calendar {
    min-height: 80px;
  }

  .number-cell {
    font-size: 0.8rem;
  }

  .number-cell.today {
    padding: 0px 2px;
  }

  .container-item-task-calendar > div > div:first-child {
    display: none;
  }

  .container-item-task-calendar > div > div:last-child {
    display: none;
  }
}
