.item-to-do-list-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-to-do-list {
  width: 100%;
  background-color: var(--card-color);
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-card-color);
  align-items: start;
  justify-content: space-between;
}

.item-to-do-list > div:nth-child(1) {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  flex-shrink: 0;
}

.item-to-do-list.todo > div:nth-child(1) {
  background-color: var(--todo-state-color);
}

.item-to-do-list.doing > div:nth-child(1) {
  background-color: var(--doing-state-color);
}

.item-to-do-list.done > div:nth-child(1) {
  background-color: var(--done-state-color);
}

.item-to-do-list > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: -4px;
  min-width: 0;
  margin-left: 10px;
  flex-grow: 1;
}

.item-to-do-list > div:nth-child(2) > span {
  font-weight: 400;
  font-family: nunito, sans-serif;
  color: var(--sub-text-color);
  font-size: 0.8rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.item-to-do-list > button {
  border: none;
  padding: 0;
  padding: 2px;
  display: flex;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  margin-top: -4px;

  transition: background-color 0.2s ease;
}

.item-to-do-list > button > img {
  width: 13px;
}

.item-to-do-list > button:hover {
  background-color: rgba(69, 69, 69, 0.5);
}

.container-display-item-group-list {
  display: flex;
  gap: 5px;
  margin-top: 3px;
  width: 100%;
  flex-wrap: wrap;
}

.item-group-list-in-card {
  font-size: 0.5rem;
  font-weight: bold;
  background-color: rgba(59, 131, 246, 0.7);
  padding: 1px 10px;
  border-radius: 50px;
}

.container-control-state-todo-list {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.container-control-state-todo-list > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  border: 1px solid var(--border-card-color);
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.container-control-state-todo-list > button:nth-child(2) {
  transform: rotate(180deg);
  transition: all 0.2s ease;
}

.container-control-state-todo-list > button > svg {
  color: var(--border-card-color);
}

.move-back-btn:hover {
  border-color: var(--hero-text-color);
}

.move-back-btn:hover > svg {
  color: var(--hero-text-color);
}

.move-forward-btn.todo:hover {
  border-color: var(--doing-state-color);
}

.move-forward-btn.todo:hover > svg {
  color: var(--doing-state-color);
}

.move-forward-btn.doing:hover {
  border-color: var(--done-state-color);
}

.move-forward-btn.doing:hover > svg {
  color: var(--done-state-color);
}

.delete-todo-btn:hover {
  border-color: #d94045;
}

.delete-todo-btn:hover > svg {
  color: #d94045;
}

@media (max-width: 510px) {
  .item-to-do-list > div:nth-child(2) > p {
    font-size: 0.9rem;
  }
}
