@keyframes appearOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
  }
}
