@keyframes appearOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes appearFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes appearFromBottomLitle {
  0% {
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
