.container-todo-state {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 15px;
}

.container-todo-state > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-todo-state > div:first-child > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-todo-state > div:first-child > div > h3 {
  font-weight: 550;
}
.container-todo-state > div:first-child > div > span {
  font-size: 0.8rem;
  margin-bottom: -7px;
  font-family: nunito, sans-serif;
  font-weight: 300;
  color: #999999;
}

.container-todo-state > div:first-child > button {
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: transparent;

  transition: background-color 0.2s ease;
}

.container-todo-state > div:first-child > button > img {
  width: 10px;
  height: 10px;
}

.container-todo-state > div:first-child > button:hover {
  background-color: rgba(69, 69, 69, 0.5);
}

.container-todo-state > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
