/* this auth css it reuse between login page and signup page  */

.container-background-image.login,
.container-background-image.sign {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background-color);
  position: relative;
}

.container-background-image.login > img,
.container-background-image.sign > img {
  width: 100%;
  height: 100%;
  object-position: bottom;
  position: absolute;
}

.container-background-image.login > div,
.container-background-image.sign > div {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px;
  position: absolute;
  flex-direction: column;
}

.container-card-form-and-title-main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card-form-and-title.login,
.container-card-form-and-title.sign {
  max-width: 400px;
  width: 100%;
  margin-bottom: 137px;
  display: flex;
  flex-direction: column;
}

.container-card-form-and-title.login > div:first-child,
.container-card-form-and-title.sign > div:first-child {
  margin-bottom: 20px;
  gap: 10px;
}

.container-card-form-and-title.login > div:first-child > h1,
.container-card-form-and-title.sign > div:first-child > h1 {
  margin-bottom: 5px;
}

.container-card-form-and-title.login > div:first-child > span,
.container-card-form-and-title.sign > div:first-child > span {
  color: var(--sub-text-color);
  font-family: nunito, sans-serif;
  font-size: 0.7rem;
}

.container-card-form-and-title.login > form,
.container-card-form-and-title.sign > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  background-color: var(--card-color);
  border-radius: 20px;
  border: 1px solid var(--border-card-color);
  align-items: center;
}

.box-submit-btn-and-error-msg {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.box-submit-btn-and-error-msg > span {
  font-family: nunito;
  font-weight: 300;
  color: var(--error-text-color);
  align-self: start;
  display: none;
  font-size: 0.6;
}

.box-submit-btn-and-error-msg.error > span {
  display: initial;
}

.box-submit-btn-and-error-msg > button {
  border: none;
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 550;
}

.container-card-form-and-title.login > form > button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.container-card-form-and-title.login > p,
.container-card-form-and-title.sign > p {
  color: var(--sub-text-color);
  font-size: 0.9rem;
  text-align: center;
  margin-top: 20px;
}

.link-to-sign-up-login {
  color: var(--hero-text-color);
  margin-left: 2px;
  font-weight: 500;
}

/* -------- additional from sign page ------ */

.container-card-form-and-title.sign {
  margin-bottom: 0;
}

/* this style add to input password and name and email */
.box-password-sign-up,
.box-input-password.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.box-input-name,
.box-input-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.box-password-sign-up > input,
.box-input-name > input,
.box-input-email > input,
.box-input-password.login > input {
  padding: 13px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-background-color);
  border: 1px solid var(--border-card-color);
  color: var(--hero-text-color);
  margin-top: 10px;
}

.box-input-email.error > input,
.box-input-name.error > input {
  border: 1px solid var(--error-text-color);
}

.box-password-sign-up > input:focus,
.box-input-name > input:focus,
.box-input-email > input:focus,
.box-input-password.login > input:focus {
  outline: 1px solid var(--main-opponent-color);
}

.box-password-sign-up > svg,
.box-input-password.login > svg {
  position: absolute;
  right: 12px;
  padding: 0;
  display: flex;
  border: none;
  background-color: transparent;
  top: 46%;
  cursor: pointer;
  color: gray;

  transition: color 0.2s;
}

.box-input-password.login > svg {
  top: 59.5%;
}

.box-password-sign-up > svg:hover,
.box-input-password.login > svg:hover {
  color: var(--hero-text-color);
}

.box-password-sign-up > span {
  margin-top: 5px;
  color: var(--sub-text-color);
  font-size: 0.8rem;
  cursor: pointer;
}

.box-input-name > span,
.box-input-email > span {
  color: var(--error-text-color);
  font-size: 0.8rem;
  margin-top: 3px;
  display: none;
  font-family: nunito;
  font-weight: 300;
}

.box-input-name.error > span,
.box-input-email.error > span {
  display: initial;
}

/* this style add to submit button */
.box-submit-and-checkbox-sign-up {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-submit-and-checkbox-sign-up > div:first-child {
  display: flex;
  gap: 5px;
  width: 100%;
}

.box-submit-and-checkbox-sign-up > div:first-child > p {
  font-size: 0.7rem;
  color: var(--sub-text-color);
}

.checkbox-agree-sign-up {
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid var(--border-card-color);
  background-color: var(--main-background-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-agree-sign-up img {
  width: 12px;
  opacity: 0;
}

.checkbox-agree-sign-up.checked {
  background-color: var(--main-opponent-color);
  border: 1px solid var(--border-opponent-color);
}

.checkbox-agree-sign-up.checked img {
  opacity: 1;
}

.box-submit-and-checkbox-sign-up > div:first-child > p > span {
  color: var(--hero-text-color);
  text-decoration: underline;
}

.box-submit-and-checkbox-sign-up > button {
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 550;
  margin-top: 8px;
}

.box-submit-and-checkbox-sign-up > button:hover {
  background-color: var(--color-hover-button-auth);
}
