.container-forgot-password-page-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.container-forgot-password-page-main > form {
  background-color: var(--card-color);
  padding: 15px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid var(--border-card-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 10px 20px 3px rgb(103, 103, 103, 0.2);
  margin-top: 10px;
}

.container-forgot-password-page-main > form > div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.container-forgot-password-page-main > form > div:nth-child(1) > p {
  font-size: 1.3rem;
  font-weight: 550;
}

.container-forgot-password-page-main > form > div:nth-child(1) > span {
  font-family: nunito, sans-serif;
  font-size: 0.8rem;
  color: #999999;
  font-weight: 300;
}

.box-input-email-forgot-password {
  display: flex;
  flex-direction: column;
}

.box-input-email-forgot-password > label {
  font-size: 0.95rem;
  font-weight: 500;
}

.box-input-email-forgot-password > input {
  border: 1px solid var(--border-card-color);
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: transparent;
  color: var(--hero-text-color);
}

.box-input-email-forgot-password > input:focus {
  outline: 1px solid var(--main-opponent-color);
}

.box-input-email-forgot-password.error > input {
  border-color: var(--error-text-color);
}
.box-input-email-forgot-password.error > input:focus {
  outline: none;
}

.box-input-email-forgot-password > p {
  font-family: nunito, sans-serif;
  color: #999999;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 3px;
  color: var(--error-text-color);
}

.btn-submit-input-email {
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--main-opponent-color);

  transition: background-color 0.2s ease;
}

.btn-submit-input-email-load {
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: not-allowed;
  font-weight: 600;
  background-color: rgba(250, 250, 250, 0.7);
  display: flex;
  justify-content: center;
}

.btn-submit-input-email-load .spinner-load {
  width: 18px;
  height: 18px;
  border: 2px solid var(--main-background-color);
  border-top-color: transparent;
}

.btn-submit-input-email:hover {
  background-color: var(--color-hover-button-auth);
}

.container-send-email-forgot-password-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
}

.container-send-email-forgot-password-success > div {
  background-color: var(--done-state-color);
  padding: 8px;
  display: flex;
  border-radius: 50%;
}
