.item-task-date-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--border-card-color);
  transition:
    background-color 0.2s ease,
    padding 0.2s ease;
}

.item-task-date-status:hover {
  padding: 10px;
  background-color: rgba(69, 69, 69, 0.3);
}

.item-task-date-status > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.item-task-date-status > div:first-child > p {
  font-weight: 450;
}

.item-task-date-status > div:first-child > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item-task-date-status > div:first-child > div > div {
  padding: 1px 10px;
  font-weight: 550;
  border-radius: 50px;
  font-size: 0.8rem;
  background-color: rgba(0, 123, 255, 0.7);
}

.item-task-date-status > div:first-child > div > span {
  font-family: nunito, sans-serif;
  font-size: 0.8rem;
  color: #999999;
}

.item-task-date-status > div:last-child {
  display: flex;
  height: 100%;
  align-items: end;
  gap: 5px;
}

.item-task-date-status > div:last-child > button {
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item-task-date-status > div:last-child > button > svg {
  width: 20px;
  height: 20px;
}

.item-task-date-status > div:last-child > button:first-child > svg > circle,
.item-task-date-status > div:last-child > button:first-child > svg > line {
  stroke: var(--border-card-color);
  stroke-width: 12px;
  transition: stroke 0.2s ease;
}

.item-task-date-status
  > div:last-child
  > button:first-child:hover
  > svg
  > circle,
.item-task-date-status
  > div:last-child
  > button:first-child:hover
  > svg
  > line {
  stroke: var(--hero-text-color);
}
