.container-header-landing {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  animation: appearOpacity 2s forwards;
  max-width: 2000px;
  position: fixed;
  background-color: var(--main-background-color);
  z-index: 999;
}

.container-header-landing.add {
  border-bottom: 1px solid var(--border-card-color);
}

.header-left-section .container-logo img {
  width: 25px;
}

.header-left-section .container-logo p {
  font-size: 18px;
}

.header-middle-section {
  display: flex;
  gap: 15px;
}

.header-middle-section > button {
  border: none;
  background-color: transparent;
  color: var(--hero-text-color);
  font-size: 0.9rem;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 50px;

  transition: background-color 0.2s;
}

.header-middle-section > button:hover,
.link-log-in-page:hover {
  background-color: var(--card-color);
}

.header-right-section {
  display: flex;
  gap: 10px;
}

.header-right-section * {
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  font-weight: 600;
  background-color: var(--main-opponent-color);
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
  font-size: 0.95rem;
}

.link-log-in-page {
  color: var(--hero-text-color);
  background-color: transparent;
}

.link-sign-up-page {
  color: black;
}

.link-sign-up-page:hover {
  background-color: var(--color-hover-button-auth);
}

@media (max-width: 700px) {
  .header-left-section .container-logo img {
    width: 20px;
  }

  .header-left-section .container-logo p {
    font-size: 15px;
  }

  .header-right-section {
    gap: 5px;
  }

  .header-right-section * {
    font-size: 0.85rem;
    padding: 7px 13px;
  }

  .header-middle-section {
    display: none;
  }
}
