.container-section-main {
  margin-left: 240px;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 200vh;
}

.container-section-main.close {
  margin-left: 43px;
}

@media (max-width: 820px) {
  .container-section-main {
    margin: 0;
    padding: 15px;
  }

  .container-section-main.close {
    margin: 0;
  }
}
