.container-reset-password-page-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.container-reset-password-page-main > form {
  background-color: var(--card-color);
  padding: 15px;
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  border: 1px solid var(--border-card-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 10px 20px 3px rgb(103, 103, 103, 0.2);
  margin-top: 10px;
}

.container-reset-password-page-main > form > p {
  font-weight: 550;
  font-size: 1.2rem;
}

.box-input-reset-passowrd {
  display: flex;
  flex-direction: column;
  position: relative;
}

.box-input-reset-passowrd > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-input-reset-passowrd > div > label {
  font-size: 0.9rem;
  font-weight: 500;
}

.box-input-reset-passowrd > div > span {
  font-family: nunito, sans-serif;
  font-weight: 300;
  color: #999999;
  font-size: 0.7rem;
}

.box-input-reset-passowrd > input {
  border: 1px solid var(--border-card-color);
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
  margin-top: 5px;
  color: var(--hero-text-color);
  padding-right: 30px;
}

.box-input-reset-passowrd.error > input {
  border-color: var(--error-text-color);
}

.box-input-reset-passowrd > svg {
  position: absolute;
  right: 10px;
  color: var(--border-card-color);
  top: 43%;
  cursor: pointer;
  height: 15px;
  width: 15px;

  transition: color 0.2s ease;
}

.box-input-reset-passowrd > svg:hover {
  color: var(--main-opponent-color);
}

.box-input-reset-passowrd > input:focus {
  outline: 1px solid var(--main-opponent-color);
}

.box-input-reset-passowrd > p {
  font-family: nunito, sans-serif;
  font-size: 0.73rem;
  margin-top: 3px;
  color: #999999;
  font-weight: 300;
}
.box-input-reset-passowrd.error > p {
  color: var(--error-text-color);
}

.btn-submit-reset-password {
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--main-opponent-color);

  transition: background-color 0.2s ease;
}

.btn-submit-reset-password:hover {
  background-color: var(--color-hover-button-auth);
}

.btn-submit-reset-password-load {
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: not-allowed;
  font-weight: 600;
  background-color: rgba(250, 250, 250, 0.7);
  display: flex;
  justify-content: center;
}

.btn-submit-reset-password-load .spinner-load {
  width: 18px;
  height: 18px;
  border: 2px solid var(--main-background-color);
  border-top-color: transparent;
}

.container-message-reset-password-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container-message-reset-password-success > div {
  padding: 8px;
  background-color: var(--done-state-color);
  display: flex;
  border-radius: 50%;
}

.container-message-reset-password-success > span {
  font-family: nunito, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

.container-message-reset-password-success > span > .link-to-login {
  color: var(--hero-text-color);
  font-weight: 500;
}
